* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: helvetica neue;
  color: #fff;
}

html, body {
  width: 100%;
  height: 100%;
  background-color: #111;
}

.parents{
   padding: 20px;
   display: flex;
   flex-wrap: wrap;
}
.card {
 width: 300px;
 border: solid black;
 padding: 20px;
 text-align: center;
 border-radius: 10px;
 background-color: #333;
}

.card img{
     height: 100px;
     width: 100px;
     object-fit: cover;
     border-radius: 50%;
}

.card p{
  margin: 20px 0px;
}

.card button{
  padding: 10px 20px;
  background-color: #fff;
  color: black;
  border: none;
  border-radius: 5px;
}